<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stdio.hue.yoga">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ProjectApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".modules.splash.ui.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.main.ui.activities.MainActivity" />
        <activity android:name=".modules.classes.searchs.ui.activities.SearchClassesActivity" />
        <activity android:name=".modules.collections.ui.activities.CollectionDetailActivity" />
        <activity android:name=".modules.upgrade.ui.activities.UpgradeActivity" />
        <activity android:name=".modules.settings.ui.activities.SettingActivity" />
        <activity android:name=".modules.classes.detail.ui.activities.ClassesDetailActivity" />
        <activity android:name=".modules.video.VideoActivity" />
        <activity android:name=".modules.poses.detail.ui.activities.PosesDetailActivity" />

        <service android:name=".services.DownloadService" />
    </application>
</manifest>
